div label:nth-child(1)  {
  width: 10%;
  float: left;
}

input, textarea {
  border-radius: 5px;
}

input:focus {
  background: gray;
  border: 1px solid fuchsia;
}

textarea {
  max-height: 40px;
  overflow: auto;
}
