div label:nth-child(1)  {
  width: 15%;
  float: left;
}

input, textarea {
  border-radius: 5px;
  padding: 0.2em;
}

input:focus {
  background: silver;
  border: 1px solid violet;
  outline: none;
}

textarea {
  height: 40px;
  overflow: auto;
}

.notas {
  border: dotted 1px #000;
  padding: 10px;
  font-style: italic;
}
