#cabecera,#menu,#lateral,#contenido,#contenido #principal,#contenido #secundario,#pie{
  border: none;
}

#cabecera {
  padding: 1em;
}

#menu {
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: solid 1px #004c99;
}

#noticias, #publicidad, #principal, #secundario {
  padding: 0.5em;
}

#pie {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-top: 1em;
  border-top: solid 1px #c5c5c5;
  border-bottom: solid 1px #c5c5c5;
}

.articulo {
  margin: 1em;
}

.articulo img {
  margin: 0.5em;
}

#publicidad {
  margin-top: 1em;
  border: dashed 1px #cc6600;
}

#noticias {
  border: solid 1px #c5c5c5;
}

#contenido #secundario {
  border: solid 1px #cc6600;
}
